.main-div {
	width: 50%;
	margin-left: 25%;
	background: #008080;
	border: 2px solid #F00;
	padding: 5px;
}

.main-div h1 {
	color: #FFF;
}

img {
	width: 100%;
}

#image_frame {
	min-height: 250px;
	overflow: hidden;
}

input {
	display: block;
	font-size: 30px;
	color: #F00;
	width: 100%;
	text-align: center;
}

input[type='file'] {
	color: #FFF;
}